.about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-image: url(../assets/stars.png);
    background-size: contain;
}

.dev-container {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    
}

.all-devs {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-items: center;
    z-index: 4;
    gap: 3rem;
}

.dev-picture {
    width: 20rem;
    height: 100%;
    background-color: pink;
    border-radius: 50%;
}

.about h1 {
    font-size: 3rem;
    z-index: 4;
}

.about h2 {
    font-size: 1.5rem;
}

.dev-info {
    padding: 2rem;
    width: 20rem;
    height: 72%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text1-color);
    background-image: url(../assets/event-folder2.png);
    background-size: cover;
    background-repeat: no-repeat;
    gap: 1rem;
}

.socials {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.github {
    width: 6rem;
}

.linkedin {
    width: 4rem;
}

.about-return-btn {
    width: 8rem;
    height: 6.6rem;
    position: absolute;
    bottom: 0;
    margin-bottom: 16%;
    background-image: url(../assets/return-icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;

    transform: translateX(-50%) translateY(-50%);
    z-index: 7;
}