.create-user-page {
  width: 100%;
  margin-top: 12rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/stars.png);
  background-size: contain;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.create-form-container {
  width: 80%;
  height: 69rem;
  background-image: url(../assets/frame4.1.png), var(--secondary-bg-gradient);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  z-index: 3;
}

.create-user-form {
  width: 90%;
  height: 69rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text1-color);
  font-size: 3rem;
  position: relative;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 6rem;
  /* background-image: var(--secondary-bg-gradient); */
  z-index: 3;
}

.create-user-form label {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.create-user-form input {
  width: 100%;
  height: 4rem;
  border-radius: 2rem;
  padding: 2rem 2rem;
}

.create-user-form h1 {
  font-size: 5rem;
  position: absolute;
  top: 0;
  margin-top: 7rem;
}

.create-user-form button {
  width: 20rem;
  height: 6rem;
  font-size: 3rem;
  font-family: "Aldrich", sans-serif;
  border: none;
  border-radius: 1rem;
  background-color: var(--text1-color);
  color: var(--text2-color);
  position: absolute;
  bottom: 0;
  margin-bottom: 5rem;
  -webkit-box-shadow: 2px 2px 0px 2px rgb(179, 179, 179);
  -moz-box-shadow: 2px 2px 0px 2px rgb(179, 179, 179);
  box-shadow: 2px 2px 0px 2px rgb(179, 179, 179);  
}

.create-user-page a {
  width: 8rem;
  height: 6.6rem;
  position: absolute;
  bottom: 0;
  margin-bottom: 15%;
  background-image: url(../assets/return-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;

  transform: translateX(-50%) translateY(-50%);
  z-index: 7;
}

#cat-base {
  position: absolute;
  bottom: 0;
  width: 100%;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  z-index: 6;
}

#create-cloud1 {
  width: 45rem;
  position: absolute;
  top: 15%;
  left: 0;
  z-index: 2;
}
#create-cloud2 {
  width: 25rem;
  position: absolute;
  top: 39%;
  right: 0;
  z-index: 2;
}
#create-cloud3 {
  width: 30rem;
  position: absolute;
  bottom: 23%;
  left: 0;
  z-index: 2;
}

/* @media (min-width: 375px) {
  .create-form-container {
    background-size: cover;
  }
} */
