.event-detail-container {
    
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    flex-direction: column;
    overflow:scroll ;

}
.event-card-container {
    
    width: 80vw ;
    position: relative;
    padding-left: 20px;
    padding-top: 20px;
    background: var(--secondary-bg-gradient);
    border-radius: 15px;
    list-style: none;
    overflow: scroll;
    margin-top: 10rem;
    


    h2 {
        font-size: 4rem;
        padding: 10px;
    }

    p {
        font-size: 2rem;
        line-height: 4rem;
        padding: 10px;
    }
}
.event-date{
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 2rem;
    padding: 0px;
    margin: 10px;
}
.participants-container{
    margin-left: 0.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.event-participants{
    margin-left: 0.5rem;
    font-size: 2rem;
}

.edit-button-container {
    width: 70vw ; 
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

  

    button {
        font-family: "aldrich", sans-serif;
        
        width: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30rem;
        height: 5rem;
        font-size: 3rem;
    
        border: none;
        border-radius: 2rem;
        background-color: white;
        color: #222222;

    }
}

.edit-button-container {
   
    gap:10px;
    margin-bottom: 10px;
}

.form-container {
    
    width: 70vw ;
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
    input {
        width: 30rem;
    }

    textarea {
        width: 33rem;
        height: 40px;
    }
    gap:20px;

    label {
        font-size: 2rem;
    }
}


.task-container {
    width: 70vw;
   
    border: solid white 1px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    flex-direction: column;
}

.task {
    width: 60vw;
    height: 20rem;
    border: solid white 1px;
    background-color: white;
    margin: 20px 0;
    border-radius: 15px;
    color: #222222;
    -webkit-box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.66);
    box-shadow: 10px 10px 46px 0px rgba(0,0,0,0.66);
    font-size: 1rem;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    

}

.check-box-container{

    
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    

}


.add-task-button {
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    cursor: pointer;
}


.back-button-container {
    width: 70vw ; 
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    button {
        font-family: "aldrich", sans-serif;
        
        width: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30rem;
        height: 5rem;
        font-size: 3rem;
    
        border: none;
        border-radius: 2rem;
        background-color: white;
        color: #222222;

    }
}

.edit-task-button-container {
    width: 5vw;
    height: 3vh;
    font-family: "Aldrich";
    border: none;
    border-radius: 2rem;
    background-color: #222222;
    color: rgb(255, 255, 255);

}
   



