.user-page-section {
    width: 100%;
    height: 100%;
    
   
    }
    
    .create-event-container {
      
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        height: 10vh;
        font-size: 3rem;
        margin-top: 100px;
    
        button {
            width: 60vw;
            height: 5vh;
            border: none;
            border-radius: 15px;
            font-family: "Aldrich";
            font-size: 3rem;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;     
        }

        button:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
        
    }
   

    .events-container {
        
        width: 100vw;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        
        z-index: 1;
        margin-bottom: 20px;
        
        
        
        
    }


    .event-card {
        
        background: var(--secondary-bg-gradient);
        margin-top: 3px;
        width: 40vw;
        height: 15vh;
        max-height: 40vh;
        position: relative;
        z-index: 2;
        border-radius: 15px;
        font-family: "Aldrich";
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 2.5rem;
        text-align: center;
        

        h2 {
            font-size: 2.2rem;
            
        }

        h3 {
            font-size: 1.4rem;
            
        }

        p {
            font-size: 2rem;
        }

    

        button:hover{
            cursor: pointer;
            font-size: 3rem;

        }
    }

    .user-page-participants-container {
        
        width: 100%;
        height: 50%;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content:center;
        flex-direction:row;
        flex-wrap: wrap;
        font-size: 1.3rem;
        
        
        
    }

    

    .delete-button {
        
            border: solid rgba(0, 0, 0, 0.345) 1px;
            border-radius: 50%;
            background-color: transparent;
            position: absolute;
            top:-11px;
            right: -5px;
            width: 3vh;
            height: 3vh;
            padding: 0;
            margin: 0;
            font-size: 2rem;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center; 
            z-index: 5;
    }

    .delete-button:hover {
        font-size: 2.2rem;
    }

    .event-relative {
        position: relative;

    }