.user-page-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
    
    .create-event-container {
      
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        height: 10vh;
        font-size: 3rem;
        margin-top: 100px;
    
        button {
            width: 60vw;
            height: 5vh;
            border: none;
            border-radius: 1rem;
            font-family: "Aldrich";
            font-size: 3rem;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center; 
            -webkit-box-shadow: 2px 2px 0px 2px rgb(179, 179, 179);
            -moz-box-shadow: 2px 2px 0px 2px rgb(179, 179, 179);
            box-shadow: 2px 2px 0px 2px rgb(179, 179, 179);    
        }

        button:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
        
    }
   

    .events-container {
        
        width: 100vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* flex-direction: column; */
        flex-wrap: wrap;
        gap: 2rem;
        
        z-index: 1;
        margin-bottom: 20px;
        padding: 0 1rem;
        
        
        
        
    }


    .event-card {

        background-color: transparent;

        width: 90%;
        height: 100%;
        max-height: 100%;
        position: relative;
        z-index: 2;
        font-family: "Aldrich";
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 2.5rem;
        text-align: center;
        color:white;
        

        h2 {
            font-size: 2.2rem;
            
        }

        h3 {
            font-size: 1.4rem;
            
        }

        p {
            font-size: 2rem;
        }

    

        button:hover{
            cursor: pointer;
            font-size: 3rem;

        }
    }

    .user-page-participants-container {
        margin-top: 1rem;
        width: 100%;
        height: 50%;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content:center;
        flex-direction:row;
        flex-wrap: wrap;
        font-size: 1.5rem;
        color: rgb(227, 227, 227);
        line-height: 1rem;
        
        
    }

    

    .delete-button {
            border: none;
            background-color: transparent;
            position: absolute;
            bottom: 4px;
            right: -8px;
            width: 3vh;
            height: 3vh;
            padding: 0;
            margin: 0;
            font-size: 2rem;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center; 
            z-index: 5;

            img{
                width: 3rem;
            }
    }

    .delete-button:hover {
        font-size: 2.2rem;
    }

    .event-relative {
        width: 22rem;
        height: 18rem;
        position: relative;
        background-image: url(../assets/event-folder2.png);
        background-size: contain;
        background-repeat: no-repeat;
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .event-relative a {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }