footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: rgba(255, 255, 255, 0.933);
    position: absolute;
    bottom: 0;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;

}

footer a {
    color: rgba(182, 62, 193, 0.864);
}