.create-task-layout{
    backdrop-filter: blur(10px);
    height: 100%;
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100%;
    transition-delay: 50ms;
    z-index: 100;
}
.create-task-form{
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    color: var(--text2-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    color: white;
    animation: slide-up 800ms;
        label{
            font-size: 3rem;
        }
        textarea {
            border: 0.5rem solid rgb(94, 98, 191);
            font-size: 2rem;
            width: 30rem;
            height: 16rem;
            padding: 1rem;
            background-color: white;
            resize: none;
        }
    button {
      margin-top: 0;
      border-radius: 1rem;
      border: none;
      cursor: pointer;
      padding: 0.5rem 1rem;
      font-size: 2rem;
      width: 10rem;
      background-color: rgb(94, 98, 191);
      -webkit-box-shadow: 2px 2px 0px 2px rgba(70,55,133,1);
      -moz-box-shadow: 2px 2px 0px 2px rgba(70,55,133,1);
      box-shadow: 2px 2px 0px 2px rgba(70,55,133,1);
    }
}

.no-margin{
    margin-top: 0;
}

@keyframes slide-up {
    0% {
      transform: translate(-100%, 500%);
    }
    50% {
        transform: translate(-60%, -100%);
      }
    100% {
      transform: translate(-50%, -50%);
    }
}