.warning-layout {
    backdrop-filter: blur(10px);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition-delay: 50ms;
    z-index: 100;
  }
  .warning-card {
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    color: var(--text2-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 30rem;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 30rem;
    animation: slide-in 800ms;
  
    button {
      background-color: var(--primary-color);
      border-radius: 1rem;
      border: none;
      color: var(--secondary-color);
      cursor: pointer;
      padding: 0.5rem 1rem;
      font-size: 2rem;
    }
  }
  
  @keyframes slide-in {
    0% {
      transform: translate(-600%, -50%);
    }
    50% {
      transform: translate(20%, -20%);
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }
  